<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Showoff</string>
	<key>ordering</key>
	<array>
		<string>49A1C1EB-E694-451F-A7C5-0648CA388CE3</string>
		<string>181C509D-50A8-47B7-9473-6D26D63646CC</string>
		<string>96C4DEE0-A5AD-4B96-9A0D-8406E208F5BB</string>
	</array>
	<key>uuid</key>
	<string>6AD3CA05-0CA2-4A95-A914-A066D4D9D93C</string>
</dict>
</plist>
